.messengers > h2 {
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top: 5rem;
}

.messenger__inner {
  padding: 3rem;
}

@media (max-width: 550px) {
  .messenger__inner {
    padding: 1.5rem;
  }
  .messengers > h4 {
    margin: 3rem 1.5rem;
  }
}
