.app {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%);
  display: flex;
  flex-flow: column nowrap;
}

.app__inner {
  padding-left: clamp(80px, 10vw, 100px);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  border: none;
}

@media (max-width: 550px) {
  .app__inner {
    padding: 0;
  }
}
